@font-face {
  font-family: 'formula1';
  src: url(/driver/asset/Formula1-Bold_web_0.ttf) format('truetype');
}

body {
    font-family: formula1;
    background: #2a2a2a;
    color: #fff;
    padding: 20px;
}
.card {
    max-width: 500px;
    margin: auto;
    background: #383838;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #333;
}
img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}
a{
    display: inline-block;
    margin-top: 20px;
    color: #e10600;
    text-decoration: none;
    font-weight: bold;
}

.back{
    max-width: 170px;
}

.back a{
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.back :hover {
    background-color: #333;
    border-radius: 40px;
    transition: 0.2s;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .card {
    padding: 20px;
  }

  img {
    width: 80%;
  }

  .back {
    max-width: 100%;
    text-align: center;
  }

  .back a {
    padding: 10px 20px;
  }
}
