@font-face {
  font-family: 'formula1';
  src: url(/driver/asset/Formula1-Bold_web_0.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #2a2a2a;
  font-family: formula1;
}

nav{
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #3a3a3a;
}

nav img{
  width: 100%;
  max-width: 150px;
}

header{
  display: flex;
  padding: 50px;
  justify-content: space-around;
  color: white;
  gap: 300px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px ;
}

header h1{
  font-size: 40px;
}

header p{
  font-size: 18px;
}

.driver-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 30px;
}

.team-row {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.driver {
  width: 600px;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  color: white;
  transition: .3s;
  cursor: pointer;
}

.driver:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}


.img-driver img{
  width: 200px;
}

.nama{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 20px;
}

.team{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px;
  gap: 20px;
  background-color: rgb(32, 32, 32);
  color: white;
  margin-top: 100px;
}

.team h1{
  font-size: 40px;
}

.team a{
  font-size: 20px;
  color: #ff0000;
}

#searchDriver {
    padding: 12px 15px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    outline: none;
    font-size: 15px;
    margin: 20px auto 30px;
    color:  white;
    display: block;
    background-color: rgb(50, 50, 50);
}

#searchDriver::placeholder {
    color: #ffffff;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
  background-color: #8b0000;
  text-align: center;
  padding: 20px;
  color: white;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 16px;
  }

  .driver-grid {
    margin: 20px;
    gap: 20px;
  }

  .team-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .driver {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .img-driver img {
    width: 100%;
    max-width: 200px;
  }

  .nama {
    font-size: 18px;
    align-items: center;
  }

  .team {
    padding: 50px 20px;
    margin-top: 50px;
  }

  .team h1 {
    font-size: 30px;
  }

  .team a {
    font-size: 18px;
  }
}
