@font-face {
  font-family: 'formula1';
  src: url(/driver/asset/Formula1-Bold_web_0.ttf) format('truetype');
}

body {
    font-family: formula1;
    background: #2a2a2a;
    color: white;
    padding: 0;
    margin: 0;
}

nav{
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #3a3a3a;
}

nav img{
  width: 150px;
}

header{
  display: flex;
  padding: 50px;
  justify-content: space-around;
  color: white;
  gap: 300px;
}

.title{
  display: flex;
  flex-direction: column;
}

.f1 h1 {
    text-align: center;
    color: #e10600;
}

#constructors {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    background: #1c1c1c;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    border-color: #e10600;
}

.color-box {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    color: #ccc;
}

.driver_team{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
    gap: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}

.driver_team h1{
    font-size: 40px;
}

.driver_team a{
    font-size: 20px;
    color: #ff0000;
}

#searchTeam {
    padding: 12px 15px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    outline: none;
    font-size: 15px;
    margin: 20px auto 30px;
    color: white;
    display: block;
    background-color: rgb(50, 50, 50);
}

#searchTeam::placeholder {
    color: #ffffff;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
  background-color: #8b0000;
  text-align: center;
  padding: 20px;
  color: white;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 16px;
  }

  #constructors {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .card {
    padding: 15px;
  }

  .driver_team {
    padding: 50px 20px;
  }

  .driver_team h1 {
    font-size: 30px;
  }

  .driver_team a {
    font-size: 18px;
  }
}
